body { 
    width: 1200px;
    min-width: 600px;
    margin: auto;
    font: 20px sans-serif; 
    /*border: solid;
    background-color: #ffffff;}*/
}

header{
    
    display: flex;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    /*border: #f70202;*/
    /*border-style: solid;*/
    /*padding:0px;*/
    align-content:flex-end;
}

.first-header-section{
    /*color: green;
    border-style: solid;
    border-color: rgb(53, 187, 20);*/
    align-items: center;

}


.second-header-section ul{
    
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


.second-header-section ul li a{
    text-decoration: none;
    color: black;
}

.third-header-section{
    display: flex;
    align-items: center;
    gap: 1rem;
    /*border-style: solid;*/
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.third-header-section a{
    text-decoration: none;
}



input{
    border-radius: 5px;
    border: 1px;
    border-style:solid;
 }
 input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }

.input-group {
    display: flex;
    gap: 20px; /* Odstęp między polami input */
    padding: 10px;
    /*left: 360px;*/
    margin: auto;
    width: 50%;
}

.input-group-grid {
    display: grid;
    margin: auto;
    grid-template: 30px / 70px auto 70px auto 70px auto;
    grid-gap: 10px;
    padding: 10px;
    
}


.table-sciekio{
    border-collapse: collapse;
}

th, td {
    text-align: center;
    font-weight:400;
}

th {
    background-color: black;
    color: rgb(241, 115, 12);
    padding: 5px 15px;
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Kolor szary */
}
tr:nth-child(odd) {
    background-color: #ffffff; /* Kolor biały */
}

tr:hover { 
    cursor: pointer; 
    background-color: green; 
} 

td {
    padding: 5px;
}

.btn{
padding: 5px 5px;
border-radius: 5px;
color: black;
text-decoration: none;
}


.btn:hover{
    color: white;
}

.btn-send{
    background-color: rgb(2, 138, 74);
    border-style: none;
    font-size: 20px;
} 

.btn-send:hover{
    background-color: rgba(0, 107, 14, 0.801);
    border-style: none;
    font-size: 20px;
} 

.btn-error{
    background-color: red;
}
.btn-error:hover{
    background-color: rgba(255, 0, 0, 0.801);
}

.btn-warning{
    background-color: orange;
}

.btn-warning:hover {
    background-color: rgba(255, 166, 0, 0.801);
}

.form-basic > input,.form-basic > label{
display: block;
}

